body
{
    margin: 1em;
    padding: 1em;
    min-height: 15em;
    border: 1px solid #888;
    background-color: white;
}
html
{
    background-color: #ddd;
}
h1, h2, h3, th
{
    font-family: "Trebuchet MS", sans-serif;
}
