tr.sect-head td, tr.sect-head th
{
    padding-top: 1em;
    text-decoration: underline;
}
table.pretty-table
{
    border-collapse: collapse;
}
table.pretty-table th, table.pretty-table td
{
    border: 1px solid black;
    padding: 2px;
}
table.pretty-table th
{
    background: #99F;
}
