{% extends "base.html" %}
{% load misc %}

{% block title %}Review reimbursement request for "{{ rr.name }}"{% endblock %}
{% block content %}

<h2>Review reimbursement request: {{rr.name}}</h2>

{% if new %}
<div class='messagebox infobox'>
<h3>Request Submitted</h3>
<p>You have successfully submitted a request for reimbursement.</p>
</div>
{% endif %}

<table class='pretty-table reimbursement-request'>
<tr>
    <th>Request ID</th>
    <td>{{rr.label}}</td>
</tr>
<tr>
    <th>Short description</th>
    <td>{{rr.name}}</td>
</tr>
<tr>
    <th>Long description</th>
    <td>{{rr.description}}</td>
</tr>
<tr>
    <th>Amount</th>
    <td>${{rr.amount}}</td>
</tr>
<tr>
    <th>Term</th>
    <td>{{rr.budget_term}}</td>
</tr>
<tr>
    <th>Budget area</th>
    <td>{{rr.budget_area.pathstr}}</td>
</tr>
<tr>
    <th>Expense area</th>
    <td>{{rr.expense_area.pathstr}}</td>
</tr>
<tr>
    <th>Submitter</th>
    <td>{{rr.submitter}}</td>
</tr>
<tr>
    <th>Check recipient</th>
    <td>
        <p>{{rr.check_to_first_name}} {{ rr.check_to_last_name }} (email: {{rr.check_to_email}})</p>
        <p>{{rr.check_to_addr}}</p>
    </td>
</tr>
<tr>
    <th>Documentation</th>
    {% if rr.documentation %}
    <td><a href='{{rr.documentation.backing_file.url}}'>{{rr.documentation}}</a></td>
    {% else %}
    <td>No documentation submitted</td>
    {% endif %}
</tr>
<tr>
    <th>Request Time</th>
    <td>{{rr.request_time}}</td>
</tr>
<tr>
    <th>Approval Status (Time)</th>
    <td>{{ rr.approval_status|approval_status }} ({{ rr.approval_time }})</td>
</tr>
<tr>
    <th>Voucher Processing Time</th>
    {%if rr.voucher%}
    {%if rr.voucher.process_time%}
    <td>{{rr.voucher.process_time}}</td>
    {%else%}
    <td>Not yet processed</td>
    {%endif%}
    {%else%}
    <td>Not yet approved</td>
    {%endif%}
</tr>
</table>

{% if doc_form %}
<h3>(Optional) Upload Documentation</h3>

<p>If you ordered online, you may wish to upload documentation instead of providing a physical copy.</p>

<form enctype="multipart/form-data" method="post" action="">
<table class='pretty-table'>
{{ doc_form.as_table }}
<tr><th colspan='2'><input type='submit' name='upload_documentation' value='Upload Documentation' /></th></tr>
</table>
</form>
{% endif %}

{% if new %}
{% include "vouchers/reimbursementrequest_instructions.fragment.html" %}
{% endif %}

{% if email_options %}
<h3>Send stock emails</h3>
{% if email_message %}
<p>{{ email_message }}</p>
{% endif %}

<ul>
{% for option in email_options %}
<form method="post" action="">
<input type='submit' name='send_email'  value='{{option.label}}'>
<input type='hidden' name='email_name' value='{{option.name}}'>
</form>
{% endfor %}
</ul>
{% endif %}

{% if approve_form %}
<h3>Approve this reimbursement request:</h3>
{% if approve_message %}
<p>{{ approve_message }}</p>
{% else %}
{% if perms.vouchers.change_reimbursementrequest %}
<p>Optionally, <a href='{% url admin:vouchers_reimbursementrequest_change rr.pk %}'>change this request first</a>.</p>
{% endif %}
<form method="post" action="">
<table class='pretty-table'>
{{ approve_form.as_table }}

<tr>
    <th colspan='2'><input type="submit" name="approve" value="Approve" /></td>
</tr>
</table>
</form>
{% endif %}
{% endif %}

{% endblock %}
