{% extends "base.html" %}
{% load misc %}

{% block title %}List reimbursement requests{% endblock %}
{% block content %}

<h2>List Reimbursement Requests</h2>

{%if useronly%}
<p>Displaying only vouchers related to you.</p>
{%else%}
<p>You have permission to list all vouchers.</p>
{%endif%}

<form method='get' action=''>
<h3>Filter and Sort</h3>

<table class='pretty-table'>
<tr>
    <th>Approval Status</th>
    <td><select name='approval_status'>
    <option value='all'{%ifequal approval_status "all"%} selected='selected'{%endifequal%}>All</option>
    {% for id,label in approval_states %}
    <option value='{{id}}'{%ifequal approval_status id%} selected='selected'{%endifequal%}>{{label}}</option>
    {% endfor %}
    </select></td>
</tr>
<tr>
    <th>Order</th>
    <td><select name='order'>
    {% for name,label,cols in orders %}
    <option value='{{name}}'{%ifequal order name%} selected='selected'{%endifequal%}>{{label}}</option>
    {% endfor %}
    </select></td>
</tr>
<tr>
    <th colspan='2'><input type='submit' name='submit' value='Submit' /></th>
</tr>
</table>
</form>

<p><br /></p>

<form method='post' action=''>
<h3>Request List</h3>

<table class='pretty-table' id='request-list'>
<tr>
    <th>#</th>
    <th>Name</th>
    <th>Amount</th>
    <th>Check to</th>
    <th>Accounts</th>
    <th>Approval state (date)</th>
</tr>
{% for object in object_list %}
<tr>
    <td>
        <input type='checkbox' name='select' value='{{object.pk}}'{%ifin object.pk selected_ids %} checked='checked'{%endifin%}></input>
        <a href='{% url review_request object.pk %}'>{{ object.pk }}</a>
    </td>
    <td>
        <a href='{% url review_request object.pk %}'>{{ object.name }}</a>
        {% if object.documentation %}<br />(has docs){%endif%}
    </td>
    <td>
        ${{ object.amount }}
    </td>
    <td>
        {{ object.check_to_first_name }} {{ object.check_to_last_name }}<br />
        <a href='mailto:{{ object.check_to_email }}'>{{ object.check_to_email }}</a><br />
        (Submitter {{ object.submitter }})
    </td>
    <td>
        Term: {{ object.budget_term }}<br />
        Budget: {{ object.budget_area|budgetarea_pathstr:3 }}<br />
        GL: {{ object.expense_area|budgetarea_pathstr:2 }}
    </td>
    <td class='request-status-{{ object.approval_status|approval_status_class}}'>
        {{ object.approval_status|approval_status }} ({{ object.approval_time }})
    </td>
</tr>
{% endfor %}
</table>

<ul class='select-modifiers'>
<li><a id='select-all'   href='#'>Select All</a></li>
<li><a id='select-none'  href='#'>Select None</a></li>
<li><a id='select-other' href='#'>Invert Selection</a></li>
</ul>

<script type='text/javascript'>
$('#select-all').click(function(){
    $('#request-list input:checkbox').attr('checked', 'checked');
    return false;
});
$('#select-none').click(function(){
    $('#request-list input:checkbox').removeAttr('checked');
    return false;
});
$('#select-other').click(function(){
    $('#request-list input:checkbox').each(function(){
        this.checked = !this.checked;
    });
    return false;
});
</script>

<h3>Bulk Actions</h3>

<p>
    <select name='action'>
        <option value="none" selected="selected">-----------</option>
        {% for action in actions %}
        <option value='{{action.name}}'>{{action.label}}</option>
        {%endfor%}
    </select>
    <input type='submit' name='apply-action' value='Apply' />
</p>

{%if action_message%}
<p>{{action_message}}</p>
{% if action_errors %}
<p>Errors:</p>
<table class='pretty-table'>
<tr>
    <th>ID</th>
    <th>Message</th>
{% for err in action_errors %}
<tr><th>{{err.0.pk}}</th><td>{{err.1}}</td></tr>
{%endfor%}
</ul>
{%endif%}
{%endif%}
</form>

{% endblock %}
