{% extends "base.html" %}
{% load misc %}

{% block title %}Review reimbursement request for "{{ rr.name }}"{% endblock %}
{% block content %}

<h2>Review reimbursement request: {{rr.name}}</h2>

<table class='pretty-table reimbursement-request'>
<tr>
    <th>Short description</th>
    <td>{{rr.name}}</td>
</tr>
<tr>
    <th>Long description</th>
    <td>{{rr.description}}</td>
</tr>
<tr>
    <th>Amount</th>
    <td>${{rr.amount}}</td>
</tr>
<tr>
    <th>Term</th>
    <td>{{rr.budget_term}}</td>
</tr>
<tr>
    <th>Budget area</th>
    <td>{{rr.budget_area.pathstr}}</td>
</tr>
<tr>
    <th>Expense area</th>
    <td>{{rr.expense_area.pathstr}}</td>
</tr>
<tr>
    <th>Submitter</th>
    <td>{{rr.submitter}}</td>
</tr>
<tr>
    <th>Check recipient</th>
    <td>
        <p>{{rr.check_to_first_name}} {{ rr.check_to_last_name }} (email: {{rr.check_to_email}})</p>
        <p>{{rr.check_to_addr}}</p>
    </td>
</tr>
<tr>
    <th>Request Time</th>
    <td>{{rr.request_time}}</td>
</tr>
<tr>
    <th>Approval Status (Time)</th>
    <td>{{ rr.approval_status|approval_status }} ({{ rr.approval_time }})</td>
</tr>
<tr>
    <th>Printing Time</th>
    <td>{{rr.printing_time}}</td>
</tr>
</table>

{% if approve_form %}
<h3>Request Approval</h3>
{% if approve_message %}
<p>{{ approve_message }}</p>
{% endif %}
<form method="post" action="">
<table class='pretty-table'>
{{ approve_form.as_table }}

<tr>
    <th colspan='2'><input type="submit" name="approve" value="Approve" /></td>
</tr>
</table>
</form>
{% endif %}

{% endblock %}
