{% extends "base.html" %}

{% block title %}Reimbursement Request &raquo; Details{% endblock %}
{% block content %}

<h2>Reimbursement Request: Step 2: Details</h2>

<form method="post" action="">
<table class='pretty-table'>
<tr class='sect-head'>
    <th colspan='2'>You are requesting a reimbursement from:</th>
</tr>
<tr>
    <th>Term</th>
    <td>{{term}}</td>
</tr>
<tr>
    <th>Committee</th>
    <td>{{comm}}</td>
</tr>

<tr class='sect-head'>
    <th colspan='2'>Request details:</th>
</tr>
{{ form.as_table }}
{% csrf_token %}
<tr><th colspan='2'><input type='submit' value='Request Reimbursement' /></th></tr>
</table>
</form>

{% endblock %}
