<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{% block title %}TITLE{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style/default.css" />

  </head>
  <body>
    <ul class='tab-navigation'>
        <li{% ifequal pagename "homepage" %} class='selected'{% endifequal %}><a href="{% url homepage %}">Home</a></li>
        <li{% ifequal pagename "request_reimbursement" %} class='selected'{% endifequal %}><a href="{% url request_reimbursement %}">Request reimbursement</a></li>
        {% if perms.vouchers.can_list %}
        <li{% ifequal pagename "list_requests" %} class='selected'{% endifequal %}><a href="{% url list_requests %}">List requests</a></li>
        {% endif %}
        {% if perms.finance_core.use_reporting %}
        <li{% ifequal pagename "reporting" %} class='selected'{% endifequal %}><a href="{% url reporting %}">Reporting</a></li>
        {% endif %}
    </ul>
    <div id='content'>
{% block content %}{% endblock %}
    </div>
  </body>
</html>
