{% extends "base.html" %}

{% block title %}Welcome to Remit{% endblock %}
{% block content %}

<h2>Welcome to Remit</h2>

<p>
Remit is software that aims to help MIT student group manage their finances.
</p>

<ul>
    <li><a href="{% url request_reimbursement %}">Request reimbursement</a></li>
    {% if perms.vouchers.can_list %}
    <li><a href="{% url list_requests %}">List requests</a></li>
    {% endif %}
    <li{% ifequal pagename "reporting" %} class='selected'{% endifequal %}><a href="{% url reporting %}">Reporting</a></li>
</ul>

{% endblock %}
