{% extends "base.html" %}

{% block title %}Welcome to Remit{% endblock %}
{% block content %}

<h2>Welcome to Remit</h2>

<p>
Remit is software that aims to help MIT student group manage their finances.
</p>

<ul>
    {% if user.is_anonymous %}
    <li><a href='{% url login %}'>Login</a></li>
    {% endif %}
    <li><a href="{% url request_reimbursement %}">Request reimbursement</a></li>
    <li><a href="{% url list_requests %}">List requests</a></li>
    {% if perms.finance_core.use_reporting %}
    <li><a href="{% url reporting %}">Reporting</a></li>
    {% endif %}
    {% if user.is_staff %}
    <li><a href='{% url admin:index %}'>Django admin interface</a></li>
    {% endif %}
    {% if user.is_authenticated %}
    <li><a href='{% url logout %}'>Logout</a></li>
    {% endif %}
</ul>

{% endblock %}
